* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    256.24deg,
    #3d73ff -30.68%,
    rgba(121, 174, 255, 0.8) 23.64%,
    rgba(145, 142, 255, 0.55) 63.28%,
    rgba(87, 122, 255, 0.25) 97.37%
  );
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 4rem;
}
.rocket {
  margin-left: 20vw;
}
.fa-rocket {
  font-size: 30px;
  color: rgba(145, 142, 255, 0.7);
  animation: Rocket 8s 2s ease-in-out infinite;
}
@keyframes Rocket {
  10% {
    transform: rotateZ(45deg);
  }
  60% {
    transform: translateX(60vw);
    color: #3d73ff;
  }
  80% {
    transform: rotateZ(360deg);
  }
}
.icon_search,
.user {
  display: flex;
  gap: 2rem;
}
.navigation {
  display: flex;
  list-style-type: none;
  gap: 4rem;
}
a {
  text-decoration: none;
  color: black;
}
#Search {
  border: none;
  background-color: rgba(145, 142, 255, 0.55);
  border-radius: 10px;
  outline: none;
  height: 1.5rem;
}
.fa-pied-piper {
  font-size: 2rem;
  position: relative;
  bottom: 0.5rem;
}
.fa-user {
  color: antiquewhite;
}
.fa-solid:hover,
.navigation li a:hover {
  color: antiquewhite;
  cursor: pointer;
}
/* #topic {
  text-align: center;
  margin-top: 2vw;
} */
.body_section {
  margin: 4rem 4rem;
}
.games {
  list-style-type: none;
  display: grid;
  grid-template-columns: 30% 30%;
  grid-template-rows: 40vh;
  justify-content: center;
  gap: 2rem;
}
.games li {
  /* border: 1px solid black; */
  box-shadow: 2px 2px 5px rgba(145, 142, 255, 0.8);
}
.games li {
  text-align: center;
  padding: 1rem;
}
.games li:hover {
  transition: all 0.5s ease-in-out;
  height: 50vh;
  cursor: pointer;
  transform: translateX(-1rem) /*translateY(1rem) */;
}
